WebContent/wsdl/TestService2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.axis2.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.axis2.com" xmlns:intf="http://service.axis2.com" xmlns:tns1="http://daoTest" xmlns:tns2="http://hibernate5.orm.springframework.org" xmlns:tns3="http://hibernate.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.axis2.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://hibernate.org"/>
   <import namespace="http://hibernate5.orm.springframework.org"/>
   <import namespace="http://daoTest"/>
   <element name="getTestDAO">
    <complexType/>
   </element>
   <element name="getTestDAOResponse">
    <complexType>
     <sequence>
      <element name="getTestDAOReturn" type="tns1:TestDAO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="setTestDAO">
    <complexType>
     <sequence>
      <element name="testDAO" type="tns1:TestDAO"/>
     </sequence>
    </complexType>
   </element>
   <element name="setTestDAOResponse">
    <complexType/>
   </element>
   <element name="getusername">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getusernameResponse">
    <complexType>
     <sequence>
      <element name="getusernameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://hibernate5.orm.springframework.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://hibernate.org"/>
   <import namespace="http://service.axis2.com"/>
   <import namespace="http://daoTest"/>
   <complexType name="HibernateTemplate">
    <sequence>
     <element name="cacheQueries" type="xsd:boolean"/>
     <element name="checkWriteOperations" type="xsd:boolean"/>
     <element name="exposeNativeSession" type="xsd:boolean"/>
     <element name="fetchSize" type="xsd:int"/>
     <element name="filterNames" nillable="true" type="impl:ArrayOf_xsd_string"/>
     <element name="maxResults" type="xsd:int"/>
     <element name="queryCacheRegion" nillable="true" type="xsd:string"/>
     <element name="sessionFactory" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://daoTest" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://hibernate.org"/>
   <import namespace="http://hibernate5.orm.springframework.org"/>
   <import namespace="http://service.axis2.com"/>
   <complexType name="TestDAO">
    <sequence>
     <element name="hibernateTemplate" nillable="true" type="tns2:HibernateTemplate"/>
     <element maxOccurs="unbounded" name="user" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getTestDAORequest">

      <wsdl:part element="impl:getTestDAO" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setTestDAOResponse">

      <wsdl:part element="impl:setTestDAOResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getusernameRequest">

      <wsdl:part element="impl:getusername" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTestDAOResponse">

      <wsdl:part element="impl:getTestDAOResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setTestDAORequest">

      <wsdl:part element="impl:setTestDAO" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getusernameResponse">

      <wsdl:part element="impl:getusernameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestService2">

      <wsdl:operation name="getTestDAO">

         <wsdl:input message="impl:getTestDAORequest" name="getTestDAORequest">

       </wsdl:input>

         <wsdl:output message="impl:getTestDAOResponse" name="getTestDAOResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setTestDAO">

         <wsdl:input message="impl:setTestDAORequest" name="setTestDAORequest">

       </wsdl:input>

         <wsdl:output message="impl:setTestDAOResponse" name="setTestDAOResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getusername">

         <wsdl:input message="impl:getusernameRequest" name="getusernameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getusernameResponse" name="getusernameResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestService2SoapBinding" type="impl:TestService2">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTestDAO">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTestDAORequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTestDAOResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setTestDAO">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setTestDAORequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setTestDAOResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getusername">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getusernameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getusernameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestService2Service">

      <wsdl:port binding="impl:TestService2SoapBinding" name="TestService2">

         <wsdlsoap:address location="http://localhost:8080/MyOrderServer/services/TestService2"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
